.pdfContent{
    display: flex;
    flex-direction: column;

}

.pdfContent input[type="file"]{
    display: flex;
    flex-direction: column;
    border: 2px dashed #0097e6;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.pdfContent input[type="file"]:hover{
    background-color: #0097e6;
    color: #fff;
    border: 2px solid #0097e6;
    transition: all 400ms;
    cursor: pointer;
}


.pdfContent input[type="file"]::placeholder{
    display: flex;
    flex-direction: column;
}


#file-upload-button{
    border: none;
    display: flex;
}
