.regraArea{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    min-height: 100vh;
}

.regraTitulo{
    font-size: 1.5rem;
    font-weight: 700;
}

.formulario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex;
    align-items: center;
    gap: 20px;
}

.formRegra{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.formRegra input{
    width: 100px;
    text-align: center;
}

.formRegra input::placeholder{
    text-align: center;
}

.formRegra input[type='submit']{
    background-color: #0097e6;
    color: #ffffff;
    filter: drop-shadow(1px 1px 5px #00a8ff);
}

.regraTitulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.estaPara{
    background-color: #40739e;
    color: #ffffff;
    font-weight: 700;
    overflow: visible;
    padding-left: 10px;
    padding-right: 10px;
    
    display: flex;
    align-items: center;
    
    
}

.resultado{
    font-weight: 700;
    transition: all 300ms;
    animation: aparecer 300ms ease-in;
    display: flex;
    justify-content: center;
    background-color: #44bd32;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.resultadoHidden{
    animation: desaparecer 300ms ease-in;
    transition: all 300ms;
    display: none;
}

.btnReset{
    background-color: #0097e6;
    padding: 5px;
    border-radius: 50%;
    filter: drop-shadow(1px 1px 5px #00a8ff);
}

.btnReset:focus{
    transform: rotate(-360deg);
    transition: all 800ms ease-in-out;
}


/* Parte com o conteúdo */

.RegraTextosArea{
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    gap: 25px;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 100vh;
}

.RegraTextosArea h2{
    font-size: 1.5rem;
    font-weight: 600;
}

.RegraTextosArea p{
    font-size: 1.2rem;
    text-align: justify;
}



@keyframes aparecer {
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes desaparecer {
    from{
        transform: scale(1);
        opacity: 1;
        
    }
    to{
        transform: scale(0);
        opacity: 0;
        
    }
}